# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/
.idea/
.Python
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/
dist
build

# Logs
*.log
*.out
*.err

# Environment variables
.env
*.env

# Selenium-specific
geckodriver.log
chromedriver.log
